*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
    font-family: 'High Spirited';
    src: url('fonts/High Spirited.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Eina';
    src: url('fonts/Eina01-Bold.ttf') format('truetype'); /* ← Corregido */
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Eina';
    src: url('fonts/Eina01-Regular.ttf') format('truetype'); /* ← Corregido */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next World";
    src: url("https://db.onlinewebfonts.com/t/b820ad079bcb3b0bad2caa08a92d9ce7.eot");
    src: url("https://db.onlinewebfonts.com/t/b820ad079bcb3b0bad2caa08a92d9ce7.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/b820ad079bcb3b0bad2caa08a92d9ce7.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/b820ad079bcb3b0bad2caa08a92d9ce7.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/b820ad079bcb3b0bad2caa08a92d9ce7.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/b820ad079bcb3b0bad2caa08a92d9ce7.svg#Avenir Next World")format("svg");
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: white;
  color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  padding: 5px;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 100%;
  /* position: relative; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90% 10%;
}

.test{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-img-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.studio-name{
    margin: 0;
}

.title__first-word,
.title__second-word{
   font-size: 45px;
   letter-spacing: 1.5px;
   font-family: 'Eina', Arial, sans-serif;
   font-weight: 700;
}

.title__second-word{
    font-family: 'Eina', Arial, sans-serif;
    font-weight: 400;
}

.subheading{
   font-family: "Avenir Next World";
   font-weight: 200;
   letter-spacing: 1.5px;
   margin: 0;
}

.signature{
    font-family: 'High Spirited', Arial, sans-serif;
    /* font-size: clamp(1.5rem, 1.1919rem + 1.3146vw, 2.375rem); */
    font-size: clamp(2.25rem, 1.6338rem + 2.6291vw, 4rem);
    /* font-size: 64px; */
    margin: 0;
    color: #2d432f;
    position: relative;
    background-image: url('img/fondo-musgo.png');
    background-size: cover; /* Para que cubra todo el área */
    background-position: center; /* Para centrarla */
    background-repeat: no-repeat; /* Para que no se repita */
    background-position: 50px 30px; /* X=50px, Y=30px desde arriba-izquierda */
    background-position: 0% 30%;
}

.green-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-container{
    width: 300px;
    height: 300px;
}

.logo {
  width: 100%;
  height: auto;
}

nav {
}

.menu{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 32px;
    margin: 24px 0;
}

.menu-item{
    list-style: none;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    justify-content: center;
    font-size: clamp(1.125rem, 0.9049rem + 0.939vw, 1.75rem); /* min 18 max 28 */
}

.menu-link{
    text-decoration: none;

    svg{
        width: 30px;
        height: 30px;
        transition: all .3s ease;

        path{
            fill: #AAAAA6;
        }
    }

    svg:hover{
        opacity: .4;
    }
}

.menu-item__link{
    padding: 12px 16px;
    border: 1px solid #AAAAA6;
    color: #AAAAA6;
    border-radius: 25px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    transition: all .3s ease;
    margin-top: 64px;
}

.menu-item__link:hover{
    opacity: .4;
    transform: scale(1.1);
}

.menu-item__link-back{
    font-size: clamp(1rem, 0.7359rem + 1.1268vw, 1.75rem);
    text-decoration: none;
    color black;
    position: relative;
    list-style-type: none;
}

.menu-item__li{
    font-size: clamp(1.125rem, 0.9049rem + 0.939vw, 1.75rem); /* min 18 max 28 */
    list-style-type: none;
}

/* Expansión en hover */
.menu-item__link:hover::after,
.menu-item__link-back:hover::after
 {
    width: 100%;
}

.btn {
  text-decoration: none;
  color: black;
  font-size: clamp(1rem, 0.3618rem + 2.723vw, 2.8125rem);
}


.icon {
  width: 32px;
  height: 32px;
}

.services-heading{
    margin: 0;
    font-size: clamp(1rem, 0.1197rem + 3.7559vw, 3.5rem);
}