*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
    font-family: 'High Spirited';
    src: url('fonts/High Spirited.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Eina';
    src: url('fonts/Eina01-Bold.ttf') format('truetype'); /* ← Corregido */
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Eina';
    src: url('fonts/Eina01-Regular.ttf') format('truetype'); /* ← Corregido */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next World";
    src: url("https://db.onlinewebfonts.com/t/b820ad079bcb3b0bad2caa08a92d9ce7.eot");
    src: url("https://db.onlinewebfonts.com/t/b820ad079bcb3b0bad2caa08a92d9ce7.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/b820ad079bcb3b0bad2caa08a92d9ce7.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/b820ad079bcb3b0bad2caa08a92d9ce7.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/b820ad079bcb3b0bad2caa08a92d9ce7.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/b820ad079bcb3b0bad2caa08a92d9ce7.svg#Avenir Next World")format("svg");
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: white;
  color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  text-align: center;
  padding: 5px;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 100%;
  /* position: relative; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80% 20%;
}

.test{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-img-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.studio-name{
    margin: 0;
}

.title__first-word,
.title__second-word{
   font-size: 45px;
   letter-spacing: 1.5px;
   font-family: 'Eina', Arial, sans-serif;
   font-weight: 700;
}

.title__second-word{
    font-family: 'Eina', Arial, sans-serif;
    font-weight: 400;
}

.subheading{
   font-family: "Avenir Next World";
   font-weight: 200;
   letter-spacing: 1.5px;
   margin: 0;
   color: #AAAAA6;
   transform: translateY(-10px);
}


.signature{
    font-family: 'High Spirited', Arial, sans-serif;
    /* font-size: clamp(1.5rem, 1.1919rem + 1.3146vw, 2.375rem); */
    font-size: clamp(2.25rem, 1.6338rem + 2.6291vw, 4rem);
    /* font-size: 64px; */
    margin: 0;
    color: #2d432f;
    position: relative;
    background-image: url('img/fondo-musgo.png');
    background-size: cover; /* Para que cubra todo el área */
    background-position: center; /* Para centrarla */
    background-repeat: no-repeat; /* Para que no se repita */
    background-position: 50px 30px; /* X=50px, Y=30px desde arriba-izquierda */
    background-position: 0% 30%;
}

.green-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-container{
    width: 300px;
    height: 300px;
}

.logo {
  width: 100%;
  height: auto;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 32px;
    margin: 0;
}

.menu-item{
    list-style: none;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    justify-content: center;
    font-size: clamp(1.125rem, 0.9049rem + 0.939vw, 1.75rem); /* min 18 max 28 */
}

.menu-link{
    text-decoration: none;

    svg{
        width: 50px;
        height: 50px;
        transition: all .3s ease;

        path{
            fill: #AAAAA6;
        }

        @media screen and (max-width: 576px){
            svg {
                width: 30px;
                height: 30px;
            }
        }
    }

    svg:hover{
        opacity: .4;
    }
}


/* 5. Media Query para pantallas pequeñas */
@media screen and (max-width: 576px) {
    .menu-link svg {
        width: 35px;
        height: 35px;
    }
}

.menu-item__link{
    padding: 12px 16px;
    border: 1px solid #AAAAA6;
    color: #AAAAA6;
    border-radius: 25px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    transition: all .3s ease;
    margin-top: 64px;
}

.menu-item__link:hover{
    opacity: .4;
    transform: scale(1.1);
}

.menu-item__link-back{
    font-size: clamp(1rem, 0.7359rem + 1.1268vw, 1.75rem);
    text-decoration: none;
    color black;
    position: relative;
    list-style-type: none;
}

.menu-item__li{
    font-size: clamp(1.125rem, 0.9049rem + 0.939vw, 1.75rem); /* min 18 max 28 */
    list-style-type: none;
}

/* Expansión en hover */
.menu-item__link:hover::after,
.menu-item__link-back:hover::after
 {
    width: 100%;
}

.btn {
  text-decoration: none;
  color: black;
  font-size: clamp(1rem, 0.3618rem + 2.723vw, 2.8125rem);
}


.icon {
  width: 32px;
  height: 32px;
}

/** Services */

.services-container{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-bg-img-container{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.services-bg-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.services-heading{
    margin: 0;
    font-size: clamp(1rem, 0.1197rem + 3.7559vw, 3.5rem);

}

.services-heading-container{
    width: 90%;
    padding-top: 18px;
}

.services-cta-container{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 32px;
    z-index: 8;
    transition: all .3s ease;
}

.services-cta-container:hover{
    border-color: #D9CFC7;
    cursor: pointer;

    svg{
        polygon{
            fill: #D9CFC7;
        }
    }
}

.services-link{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all .3s ease;
    cursor: pointer;
}


.services-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-title{
    font-family: 'Eina', Arial, sans-serif;
    font-size: clamp(1.5625rem, 1.4085rem + 0.6573vw, 2rem);
    margin: 0;
}

.services-title-second-word{
    font-family: 'Eina', Arial, sans-serif;
    font-weight: 400;
    font-size: clamp(1.5625rem, 1.4085rem + 0.6573vw, 2rem);
}

.services-subtitle{
   font-family: "Avenir Next World";
   font-weight: 200;
   letter-spacing: 1.5px;
   margin: 0;
   color: #AAAAA6;
}


.services-menu{
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    width: 70%;
    margin-top: 12px;
    margin-bottom: 0;
}

.service-menu-title{
    border-bottom: 1px solid black;
    letter-spacing: 1px;
    font-size: clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);
}

.services-menu-item{
    list-style-type: none;
    padding: 8px 0;
    font-family: 'Eina', Arial, sans-serif;
    font-weight: 400;
    font-size: clamp(1.125rem, 0.993rem + 0.5634vw, 1.5rem);
}

.services-submenu-item{
    font-family: 'Eina', Arial, sans-serif;
    font-weight: 200;
    font-size: 14px;
    margin-bottom: 16px;
    list-style-type: none;
}

.services-deep-menu-item{
    list-style: none;
    font-size: 12px;
    color: #AAAAA6;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px); /* pequeño movimiento hacia abajo */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/* Estilos para el dropdown */
.sub-menu {
  cursor: pointer;
  position: relative;
 

  svg{
    position: absolute;
    top: 12px;
    right: 12px;
    width: 15px;
    height: 15px;
    transition: transform .3s ease;
  }
}

.sub-menu.active{
    svg{
    transform: rotate(180deg);
  }
}

.services-submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}

.services-submenu.active {
  max-height: 1000px;
  opacity: 1;
  transition: max-height 0.5s ease-in, opacity 0.4s ease-in;


}

/* Opcional: estilo para indicar que es clickeable */
.sub-menu:hover {
  opacity: 0.8;
}